:root {
    --bg-dark: rgb(27, 33, 44);
    --transparent-brand-color: #82c7a515;
    --semi-transparent-brand-color: #82c7a52f;
    --brand-color: #82c7a5;
    --light-grey: #9e9e9e;
    --dark-grey: #4e5567;
}

html, body, .login-container {
    height: 100%;
}

body.bg-dark, footer {
    background-color: var(--bg-dark)!important;
    color: var(--light-grey);
    font-family: 'Roboto Mono', monospace;
}

/* Login */
.company-name-login {
    font-size: 80px;
    font-weight: bold;
    font-style: italic;
}

.login-logo {
    color: var(--brand-color);
    font-family: 'Roboto Mono', monospace;
    height: 40%;
}

div.login-logo div.logo-line {
    margin: 3.2em 0;
    border-top: solid var(--brand-color) 3px;
}

div.login-fields {
    margin-top: 4%;
}

div.login-fields input {
    background-color: inherit;
    border-color: var(--light-grey);
    text-align: center;
    color: var(--dark-grey);
    font-size: 20px;
}

/* NAVBAR */
nav.navbar {
    height: 90px;
    color: var(--brand-color);
}

nav .logo-line {
    height: 55%;
    border-bottom: solid var(--brand-color) 3px;
}

nav.main-navbar a.company-name {
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

nav.main-navbar a {
    color: var(--brand-color);
    font-style: italic;
    font-size: 20px;
}

nav.sub-navbar {
    font-size: 20px;
}

nav.sub-navbar button.navbar-toggler, span.navbar-toggler-icon {
    color: var(--brand-color);
    border-color: var(--brand-color);
}

nav.sub-navbar a {
    text-align: center;
    color: var(--dark-grey);
    border: solid var(--dark-grey) 1px;
    border-radius: 5px;
    margin: 10px;
    padding: 4px 10px;
    min-width: 190px;
}

nav.sub-navbar a.active {
    color: var(--brand-color);
}

/* Button */
button.btn.btn-secondary {
    background-color: var(--brand-color);
    border-color: var(--dark-grey);
    color: var(--bg-dark);
    font-style: italic;
    font-size: x-large;
    padding: 4px 25px;
}

button.btn.btn-secondary:hover:not(:disabled) {
    background-color: var(--bg-dark);
    border-color: var(--light-grey);
    color: var(--brand-color);
}

button.btn.btn-outline-danger {
    background-color: var(--semi-transparent-brand-color);
    border-color: var(--semi-transparent-brand-color);
    color: var(--light-grey);
    font-size: x-large;
    font-style: italic;
    padding: 4px 25px;
}

button.btn.btn-outline-danger:hover {
    background-color: var(--bg-dark);
}

/* Button Checkbox */
button.btn.btn-outline-secondary {
    background-color: var(--bg-dark);
    border-color: var(--brand-color);
    padding: 0;
    height: 25px;
    width: 25px;
}

button.btn.btn-outline-secondary:hover {
    background-color: var(--brand-color);
    border-color: var(--dark-grey);
}

button.btn.btn-outline-secondary.checked {
    background-color: var(--brand-color);
    border-color: var(--dark-grey);
}

/* Main container */
div.main-container {
    color: var(--light-grey);
    font-size: 20px;
}

div.main-container .header {
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
}

div.main-container a {
    text-decoration: inherit;
    color: inherit;
}

div.main-container > .row {
    border-bottom: solid var(--dark-grey) 2px;
}

div.main-container.with-ground > .row:first-child {
    background-color: var(--bg-dark);
    border-bottom: solid var(--dark-grey) 2px;
}

div.main-container.with-ground > .row {
    background-color: var(--transparent-brand-color);
    border-bottom: none;
}

div.main-container.with-ground > .row:nth-last-child(-n+2) {
    border-bottom: solid var(--dark-grey) 2px;
}

div.sub-container {
    background-color: var(--transparent-brand-color);
    border-bottom: solid var(--dark-grey) 2px;
    font-size: 18px;
}

div.sub-container .sub-header {
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
}

div.double-sub-container {
    background-color: var(--semi-transparent-brand-color);
    font-size: 18px;
}

/* PICKING ROUTE */
div.route-boxes {
    color: var(--brand-color);
    border-color: var(--brand-color);
    font-size: x-large;
}

div.route-line {
    border-top: solid 2px;
    border-color: inherit;
    position: relative;
    top: 25px;
    z-index: 0;
}

div.route-box {
    background-color: var(--bg-dark);
    border: solid 2px;
    border-color: inherit;
    width: 50px;
    height: 50px;
    padding: 0;
    transform: rotate(45deg);
    text-align: center;
    position: relative;
    bottom: 25px;
}

div.route-text {
    transform: rotate(-45deg);
    position: relative;
    top: 4px;
}

div.separ-line {
    border-top: solid 2px;
    border-color: inherit;
    position: relative;
    top: 20px;
}

div.route-zone .header {
    border-bottom: solid var(--dark-grey) 2px;
}

/* DROPDOWN */
select {
    color: white;
    border-color: var(--light-grey);
    background-color: var(--semi-transparent-brand-color);
    border-radius: 0.25rem;
    height: 30px;
    width: 100%;
    padding: 2px 6px;
}

option:not(selected) {
    color: var(--dark-grey);
    border-color: var(--light-grey);
    background-color: #82c7a5;
}

/* QUANTITY BOX */
.quantity {
    display: inline-block;
    min-width: 160px;
    font-size: medium;
}
   
.quantity .input-text.qty {
    width: 70px;
    height: 36px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    color: white;
    border: 0px;
    border-bottom: solid var(--light-grey) 1px;
    border-top: solid var(--light-grey) 1px;

}

.quantity.buttons_added {
    position: relative;
    white-space: nowrap;
    vertical-align: top; 
}

.quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
    font-size: inherit;
}

.quantity.buttons_added input:focus {
    outline: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
    position: relative;
    color: var(--light-grey);
    height: 36px;
    width: 28px;
    background-color: transparent;
    border: 1px solid var(--light-grey);
    cursor:pointer;
}

.quantity.buttons_added .minus {
    border-radius: 0.25rem 0px 0px 0.25rem;
    border-right: 0px;
    left: 10px;
}

.quantity.buttons_added .plus {
    border-radius: 0px 0.25rem 0.25rem 0px;
    border-left: 0px;
    right: 10px;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
    color: var(--brand-color);
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; 
}