:root {
    --bg-dark: rgb(27, 33, 44);
    --transparent-brand-color: #82c7a515;
    --semi-transparent-brand-color: #82c7a52f;
    --brand-color: #82c7a5;
    --light-grey: #9e9e9e;
    --dark-grey: #4e5567;
}

html, body, .login-container {
    height: 100%;
}

body.bg-dark {
    background-color: var(--bg-dark)!important;
    color: var(--light-grey);
    font-family: 'Roboto Mono', monospace;
}

/* Login */
.company-name-login {
    font-size: 80px;
    font-weight: bold;
    font-style: italic;
}

.login-logo {
    color: var(--brand-color);
    font-family: 'Roboto Mono', monospace;
    height: 40%;
}

div.login-logo div.logo-line {
    margin: 3.2em 0;
    border-top: solid var(--brand-color) 3px;
}

div.login-fields {
    margin-top: 4%;
}

div.login-fields input {
    background-color: inherit;
    border-color: var(--light-grey);
    text-align: center;
    color: var(--dark-grey);
    font-size: 20px;
}

/* NAVBAR */
nav.navbar {
    height: 90px;
    color: var(--brand-color);
}

nav .logo-line {
    height: 55%;
    border-bottom: solid var(--brand-color) 3px;
}

.company-name {
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
}

nav.main-navbar a {
    color: var(--brand-color);
    font-style: italic;
    font-size: 20px;
}

nav.sub-navbar {
    font-size: 20px;
}

nav.sub-navbar button.navbar-toggler, span.navbar-toggler-icon {
    color: var(--brand-color);
    border-color: var(--brand-color);
}

nav.sub-navbar a {
    text-align: center;
    color: var(--dark-grey);
    border: solid var(--dark-grey) 1px;
    border-radius: 5px;
    margin: 10px;
    padding: 4px 10px;
    min-width: 190px;
}

nav.sub-navbar a.active {
    color: var(--brand-color);
}

/* Button */
button.btn.btn-secondary {
    background-color: var(--brand-color);
    border-color: var(--dark-grey);
    color: var(--bg-dark);
    font-style: italic;
    font-size: x-large;
    padding: 4px 25px;
}

button.btn.btn-secondary:hover {
    background-color: var(--bg-dark);
    border-color: var(--light-grey);
    color: var(--brand-color);
}

/* Button Checkbox */
button.btn.btn-outline-secondary {
    background-color: var(--bg-dark);
    border-color: var(--brand-color);
    padding: 0;
    height: 25px;
    width: 25px;
}

button.btn.btn-outline-secondary:hover {
    background-color: var(--brand-color);
    border-color: var(--dark-grey);
}

button.btn.btn-outline-secondary.checked {
    background-color: var(--brand-color);
    border-color: var(--dark-grey);
}

/* Main container */
div.main-container {
    color: var(--light-grey);
    font-size: 20px;
}

div.main-container .header {
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
}

div.main-container > .row {
    border-bottom: solid var(--dark-grey) 2px;
}

div.main-container.with-ground > .row:first-child {
    background-color: var(--bg-dark);
    border-bottom: solid var(--dark-grey) 2px;
}

div.main-container.with-ground > .row {
    background-color: var(--transparent-brand-color);
    border-bottom: none;
}

div.main-container.with-ground > .row:nth-last-child(-n+2) {
    border-bottom: solid var(--dark-grey) 2px;
}

div.sub-container {
    background-color: var(--transparent-brand-color);
    border-bottom: solid var(--dark-grey) 2px;
    font-size: 18px;
}

div.sub-container .sub-header {
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
}

div.double-sub-container {
    background-color: var(--semi-transparent-brand-color);
    font-size: 18px;
}

div.qnt-input input, div.qnt-input input:active, div.qnt-input input:focus {
    color: white;
    border-color: var(--light-grey);
    background-color: var(--semi-transparent-brand-color);
    box-shadow: none;
}


div.arrow {
    font-size: 150px;
    color: var(--brand-color);
}